* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    margin: 100px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 175%;
}

section {
    position: relative;
    padding: 15px;
    width:100%;
   
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: gray;
    border: 1px solid black;
  width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.title1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(214, 124, 124);

}

.title2 {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: maroon;

}

.title3 {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(223, 212, 121);

}

.content {
    padding: 5px;
    border: none;
    background-color:lightcyan;
    font-family: Helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
    width: 100%;
}


/*desktop version*/
@media (min-width: 992px) {
    .Column {
        float: left;
        width: 33.33%;
    }
    .Column3 {
        width: 33.33%;
        float: left;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
    .Column {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .Column3 {
        width: 100%;
        float: left;
    }
     
}

/*mobile version*/
@media (max-width: 767px) {
    .Column {
        width: 100%;
        margin-bottom: 30px;
    }
    .Column3 {
        width: 100%;
        margin-bottom: 30px;
    }
}
